@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
    
    <div class="jumbotron">
        <h4>Lista con los nombres</h4>
        <ul>
            <li v-for="nombre in nombres">{{ nombre }}</li>
        </ul>
    </div>

    <div class="jumbotron">
        <h4>Lista con los nombres ordenados ascendentemente</h4>
        <ul>
            <li v-for="nombre in OrdenarBurbuja(nombres)">{{ nombre }}</li>
        </ul>
    </div>

    <div class="jumbotron">
        <h4>Lista con los nombres ordenados descentendemente</h4>
        <ul>
            <li v-for="nombre in OrdenarBurbuja(nombres, true)">{{ nombre }}</li>
        </ul>
    </div>

    <div class="jumbotron">
        <h4>Lista de nombres con vocales ordenados ascendentemente</h4>
        <ul>
            <li v-for="nombre in OrdenarBurbuja(vocales(nombres))">{{ nombre }}</li>
        </ul>
    </div>

    <div class="jumbotron">
        <h4>Lista de nombres con vocales ordenados descendentemente</h4>
        <ul>
            <li v-for="nombre in vocales(nombres)">{{ nombre }}</li>
        </ul>
    </div>



    <div class="jumbotron">
        <h4>Lista de nombres con consonantes ordenados ascendentemente</h4>
        <ul>
            <li v-for="nombre in OrdenarBurbuja(consonantes(nombres))">{{ nombre }}</li>
        </ul>
    </div>

    <div class="jumbotron">
        <h4>Lista de nombres con consonantes ordenados descendentemente</h4>
        <ul>
            <li v-for="nombre in consonantes(nombres)">{{ nombre }}</li>
        </ul>
    </div>

    <div class="jumbotron">
        <h4>Lista de nombres con vocales invertidos</h4>
        <ul>
            <li v-for="nombre in OrdenarBurbuja(vocales(nombres))">{{ Invertir(nombre) }}</li>
        </ul>
    </div>

    <div class="jumbotron">
        <h4>Lista de nombres con consonantes invertidos</h4>
        <ul>
            <li v-for="nombre in OrdenarBurbuja(consonantes(nombres))">{{ Invertir(nombre) }}</li>
        </ul>
    </div>


</div>